<footer class="footer">
    <div class="footer-content">
      <div class="social-website-icons">
        <div class="social-icons">
          <a href="https://www.facebook.com/SajjelniEsprit" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
          </a>
          <p>Facebook/SajjelniEsprit</p>
        </div>
        <div class="social-icons">
          <a href="https://www.instagram.com/SajjelniEsprit" target="_blank" class="icon-link">
            <i class="fab fa-instagram"></i>
          </a>
          <p>Instagram/SajjelniEsprit</p>
        </div>
        <div class="social-icons">
          <a href="https://www.github.com/CodeWizards" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
          </a>
          <p>GitHub/CodeWizards</p>
        </div>
        <div class="website-icons">
          <a href="https://www.sajjelni.tn" target="_blank" class="icon-link">
            <i class="fas fa-globe"></i>
          </a>
          <p>www.Sajjelni.tn</p>
        </div>
      </div>
      <p>&copy; 2023 SAJJELNI. All rights reserved.</p>
    </div>
  </footer>
  