<form [formGroup]="addRes" (ngSubmit)="onSubmit()" class="form-container">

  <div class="mb-3">
    <label for="id" class="form-label">ID de la réservation:</label>
    <input type="text" id="id" formControlName="idReservation" class="form-control">
  </div>

  <div class="mb-3">
    <label for="dateInput" class="form-label">Année Universitaire:</label>
    <input type="date" id="dateInput" formControlName="anneeUniversite" class="form-control">
  </div>


  <div class="form-check">
    <input type="radio" id="trueValue" formControlName="estValide" [value]="false" class="form-check-input" [checked]="addRes.controls['estValide'].value === false" (change)="addRes.controls['estValide'].setValue(false)">
    <label class="form-check-label" for="trueValue">Non</label>
  </div>
  <div class="form-check">
    <input type="radio" id="falseValue" formControlName="estValide" [value]="true" class="form-check-input" [checked]="addRes.controls['estValide'].value === true" (change)="addRes.controls['estValide'].setValue(true)">
    <label class="form-check-label" for="falseValue">Oui</label>
  </div>


  <div class="mb-3">
    <label for="comment" class="form-label">Commentaire :</label>
    <textarea id="comment" formControlName="commentaire" rows="4" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter la réservation</button>
</form>
